body {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  background-color: #282c34;
}

* {
  font-family: 'Permanent Marker', cursive;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
